/************************************************/
/*  Web del Romanticismo                        */
/*  Hoja de estilo para  index.html             */
/*  autora: Pilar González Augusto              */
/*  versión: 1.0                                */
/*  11 de Noviembre de 2022                     */
/************************************************/

/*  ESTILO GENERAL                              */

@font-face {
    src: url('../fonts/Back\ to\ Black\ Demo.ttf');
    font-family: titulos;
   }

@font-face {
    src: url('../fonts/Poppins-Regular.ttf');
    font-family: textos;
   }

* {box-sizing:border-box;}

html {
     scroll-behavior: smooth;
   }

body {margin:0; padding:0; /* resetear el por defecto de la ventana */
    
      font-family:textos;

      /*++++++++*/
     font-size:1.2rem;

      background-color: rgb(214, 182, 182);}

#wrapper {width:80%;
          background-color: white;
          margin:auto;}

section {padding:6% 0;} /* siempre voy a querer que el contenido de cualquier
                           sección quede separado del borde superior/inferior */

.titulo-seccion {font-family:titulos;
                 font-size: 2.5rem;
                 color:darkred;
                 text-align:center;
                 padding-bottom:4%;
                 }

/********* ESTILO DE NAV (W3SCHOOLS) *****************/

/******* para hacer sticky la barra de navegación ******/

nav {position:sticky;
     top:0;
     z-index:999; /* marca el nivel de capa en el que debe aparecer un
                     elemento  */
}


/* Add a black background color to the top navigation */
.topnav {
     background-color: #333;
     opacity:0.7;
     overflow: hidden;
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     background-color: #ddd;
     color:darkred;
     font-weight:bold;
   }
   
   /* Add an active class to highlight the current page */
   .topnav a.active {
     background-color: #04AA6D;
     color: white;
   }
   
   /* Hide the link that should open and close the topnav on small screens */
   .topnav .icon {
     display: none;
     padding:0px;  /* añadido para que no engorde la barra con el
                      icono de la hamburguesa                     */
   }

/********* LAS MEDIA QUERIES DE MI BARRA DE NAVEGACIÓN ESTARÁN AQUÍ
           PORQUE TIENEN UN PUNTO DE CORTE DISTINTO, SOLO DEPENDE
           DE LA PROPIA BARRA, DE SUS BOTONES Y ADEMÁS SOLO TOCAN
           CARACTERÍSTICAS DE LA PROPIA BARRA ************************/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
     .topnav a:not(:first-child) {display: none;}
     .topnav a.icon {
       float: right;
       display: block;
     }
   }
   
   /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
   @media screen and (max-width: 800px) {
     .topnav.responsive {position: relative;}
     .topnav.responsive a.icon {
       position: absolute;
       right: 0;
       top: 0;
     }
     .topnav.responsive a {
       float: none;
       display: block;
       text-align: left;
     }
   }



/*********  HERO SECTION OPCION 1: FOTO + TEXTO ***************************/

#hero {background-image: url('../images/herofoto.jpg');
       height:100vh;    /* para obligar a que se vea más allá del contenido */
       background-repeat: no-repeat; /* no la repitas */
       background-size: cover;           /* cubre todo el fondo */
       background-position: 33%;      /* fija lo que hay en el medio */

       
       padding-left:5%; 
       padding-top:5%;

     }

#titulo {background-color: rgba(255,255,255,0.5);
         font-family: titulos;
         color:darkred;
         font-size: 2.5rem;
         width:35%;
         padding:2%;
         text-align:center;
         border-radius:20px;
     }

/***************** HERO 2 : HAIKEI.APP + POSITION + FROSTED GLASS ********/

#hero2 {background-image: url('../images/low-poly-grid-haikei.svg');
        height:100vh;
        background-repeat: no-repeat;
        background-size:cover ;

        position:relative; /* el hero se mueve de sitio */
}

#titulo2 {font-family:titulos;
          font-size:3rem;
          background-color: rgba(255, 255, 255, 0.25);
          width:50%;
          text-align:center;  /* podía haber sido un padding */

          /* estas cuatro reglas colocan una caja en medio de otra */
          position: absolute; /* se fija DENTRO de hero */
          top:50%;
          left:50%;
          transform:translate(-50%,-50%); 

          /* para el efecto frosted glass (fondo debe ser blanco
                 y con opacidad por debajo de 0.5)               */

          backdrop-filter: blur(3px);
          

}

/************ HERO 3 : COLOR LISO + GETWAVES *********************/

#hero3 { background-color: #e7008a; /* mismo color que la ola */
         height:40vh;
         
         position:relative;
}

#titulo3 {font-family: titulos;
          font-size: 4rem;
          color:white;

          position:absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);

}





/***************** HERO 4 : VIDEO  ***************************************/


/***************** INTRO: TEXTO + BORDER *********************************/

#texto-intro {padding:0 2%;
              margin:0 4%;
              text-indent:3rem;
              border-left:5px solid darkred;}



/***************** GRID IDEAS ********************************************/
#ideas {background-color: rgb(233, 233, 233);}

/* vamos a montar un grid en dos columnas al 50%  */
/* necesito primero un contenedor grid : */

#grid2 { display:grid;
         grid-template-columns: 50% 50%; }

/* selecciono las imágenes DENTRO de una columna y les aplico el 100%
   que es el ancho total de la columna */

.col2 img {width:100%;}

.col-texto {padding:4%;
            }
          
.col-texto li {margin-bottom:10px;}
.col-texto ul {list-style-image: url("../images/1024px-Red_check.svg.png");}


/**************  GRID AUTORES ********************************************/
.grid4 {display:grid;
        grid-template-columns:25% 25% 25% 25%;}

.col4 {padding:8%;}

/******* estilo de la card de w3schols **************/

.card {
     /* Add shadows to create the "card" effect */
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     padding:5%;
   }
   
   /* On mouse-over, add a deeper shadow */
   .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
   
   /* Add some padding inside the card container */
   .container {
     padding: 2px 16px;
     
     margin-top:-8px;
   }

.card img {width:100%;
           height:300px; /* esto no debería hacerse */
           border-radius:50%;
           filter:sepia();
           opacity:0.75;
           transition: 1s; /* cambio suave */
          }

.card img:hover {opacity:1;}

.boton {text-decoration:none; /* quitar el subrayado */  
        color:white;        /* texto en blanco */
        font-weight:bold;     /* texto en negrita */
        background-color: #555; /* color botón */
        padding:5px 10px;   /* espacio libre en botón */
        border-radius:5px;}

.boton:hover {background-color: #c1c0c0;
              color:#555;}

/*******************  ESTILO DE GALERIA ******************************/

.container-16-9 {
     position: relative;
     overflow: hidden;
     width: 100%;
     padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
   }
   
   /* Then style the iframe to fit in the container div with full height and width */
   .responsive-iframe {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     height: 100%;
   }


/**************     FOOTER ***********************************************/

footer {background-color: #f1f1f1;}

.grid3 {display:grid;
        grid-template-columns: 25% 25% 50%;
        align-items:center;
        }
.col3 {padding: 6%;
       }
.col3 img {width:50%; /* para que no se salga de su cuadro */
           display:block; /* la convierto en bloque */
           margin:auto; /* la centra dentro de la col. */
          }
#ancha {padding:3%;}

/* Style all font awesome icons */
.fa {box-sizing:content-box; /* el padding, lo añade al width */
     padding: 15px;
     font-size: 25px;
     width: 30px; height:30px; border-radius:50%;
     text-align: center;
     text-decoration: none;
   }
   
   /* Add a hover effect if you want */
   .fa:hover {
     opacity: 0.7;
   }

   .fa-facebook {
     background: #3B5998;
     color: white;
   }
   
   .fa-twitter {
     background: #55ACEE;
     color: white;
   }
   
   .fa-google {
     background: #dd4b39;
     color: white;
   }
   
   .fa-linkedin {
     background: #007bb5;
     color: white;
   }
   
   .fa-youtube {
     background: #bb0000;
     color: white;
   }
   
   .fa-instagram {
     background: #125688;
     color: white;
   }
   
   .fa-pinterest {
     background: #cb2027;
     color: white;
   }
   
   .enlace {text-decoration:none;
            color:darkred;
            font-weight:bold;}

   .enlace:hover {color:rgb(220, 30, 30)}

/**************     MEDIA QUERIES ****************************************/

@media only screen and (width<= 1000px){    /**** para tablet **********/
     #wrapper {width:90%;}
     #titulo {font-size:2rem;
              width:60%;}
     #grid2 {grid-template-columns: 100%;}
     .grid4 {grid-template-columns: 50% 50%;} /* el grid de 4 pasa a 2 col en tablet */
     .grid3 {grid-template-columns:50% 50%;
             justify-content:center;}
     #parte2 {margin-top:-60px;}


     /**** pendiente solucionar la tercera columna ****/
}

@media only screen and (width<=600px){  /****** para móvil ************/
     #wrapper {width:100%;}
     .grid4 {grid-template-columns: 100%;} /* el grid de 4 pasa a 1 col en movil */
     .grid3 {grid-template-columns:100%;}
}